{
    "plugins": [
        "security"  // Package "eslint-plugin-security"
    ],
    "rules": {

        "security/no-generic-name": "error",

        "semi": ["error", "always"],
        "quotes": ["error", "single"]

    }
}
